<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="\assets\gym lg.png" alt="">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#" routerLink="/home" >Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link" href="#" routerLink="/contact">Contact</a>
        <a class="nav-item nav-link" href="#" routerLink="/details">Details</a>
        <a class="nav-item nav-link" href="#" routerLink="/register">Register</a>
        <a class="nav-item nav-link" href="#" routerLink="/admin">Admin</a>
        </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>