<section id="details">
    <main>
      <div>
        <h1>Join the Fitness Gym</h1>
        <p>FitnessGym is so effective it feels like magic, but everything we <br> do is grounded in science. Our fitness program can be<br> used to accomplish any goal, 
        from improved health to <br>weight loss to better performance. program out there.</p>
      </div>
    </main>
</section>
<section id="banner">
  <div id="banner-image" class="image-container">
      <img src="assets/ghghgh.jpg" alt="">
  </div>
  <div class="content" >
      <h2> Get active, wherever you want</h2>
      <ol>
        <li> 01.  On-site classes</li>
        <li> 02.  Solo workout</li>
        <li> 03.  Online </li>
      </ol>
  </div>
</section>